{% load static %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Mailer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    

        <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}/>
        <link rel="stylesheet" href={% static "css/popups.css" %}/>
    </head>
    <body>
        {% block content %}{% endblock content %}
        {% include "components/popup.html" %}
        <script src={% static "js/jquery-3.6.3.min.js" %}></script>
        <script src={% static "js/bootstrap.bundle.min.js" %}></script>
        <script src={% static "main/js/popups.js" %}></script>
        <script src={% static "main/js/mails.js" %}></script>
        <script src={% static "newsletters/js/forms.js" %}></script>
    </body>
</html>