{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">

<div class="actions">
    <button id="addNewsletter" class="btn btn-primary">Add Newesletter</button>
</div>

<form action="" id="newsletters">
    {% csrf_token %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">{% trans 'Title' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Count opened' %}</th>
        <th scope="col">{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for newsletter in newsletters %}
        <tr>
            <td>{{ newsletter.title }}</td>
            <td>{{ newsletter.status }}</td>
            <td>{{ newsletter.count_opened }}</td>
            <td>{% if not newsletter.sended %}<button type="button" class="btn btn-primary btn-send" data-newsletter="{{ newsletter.id }}">{% endif %} {% trans 'Send' %}</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</form>

{% endblock content %}