{% load static %}


<p>
    <h1>{{ newsletter.title }}</h1>
</p>
<p>
    Dear {{ subscriber.fullname }}! We have a unique message for you!
</p>
<p>
    {{ newsletter.text|escape }}
</p>
<img src="{{newsletter.register_link}}" width="1" height="1" decoding="async" loading="lazy" alt="">